extends ../layout

block body

    #main-container
        aside.aside
            h1#logo
                img(src="/images/logo.svg" alt="Monitaure - Monitoring for the masses")
            nav.main-nav
                ul
                    li.active
                        a(href="/dashboard") Activity
                    li
                        a(href="#_") Reports
                            span.info 14
                    li
                        a(href="#_") Messages
                            span.info 123
            nav.misc-nav
                ul
                    li
                        a(href="#_") Settings
                    li
                        a(href="https://github.com/Bertrand31/Monitaure/issues", target="_blank") Help
            nav.auth-nav
                ul
                    li
                        a(href="/logout") Log out
            .profile
                a(href="http://gravatar.com", target="_blank", title="Set or change your profile picture")
                    img(src="https://fr.gravatar.com/avatar/" + data.userData.userEmailMD5 + "?size=100" alt="Profile picture")
                span= data.userData.userName
        main.main.dashboard
            .content-wrapper
                section.top-buttons
                    button.button#open-form Add a check
                section.global-data
                    .global-data-block.global-status
                        .donut.checks-up-donut
                        p.donut-content
                            span.main-text
                                span.checks-up= data.globalStats.checksUp
                                | /
                                span.total-checks= data.globalStats.numberOfChecks
                                |  servers
                                span.secondary-text are responding
                            span.aside-text servers responding
                    .global-data-block.availability
                        .donut.availability-donut
                        p.donut-content
                            span.main-text
                                span.availabilities-avg= data.globalStats.availabilitiesAvg
                                span.secondary-text %
                            span.aside-text average availability
                    .global-data-block.last-error
                        .donut.last-error-donut
                        p.donut-content
                            span.main-text
                                span.last-error--check-name= data.globalStats.lastError.checkName
                                span.secondary-text.last-error--time= data.globalStats.lastError.time
                                span.secondary-text.last-error--hour
                                span.secondary-text.last-error--day
                            span.aside-text Last outage
                section#chart-container
                    .data
                        p.name
                        p Avg latency: 
                            span.avg
                        p Min latency: 
                            span.min
                        p Max latency: 
                            span.max
                        p Availability: 
                            span.availability
                        p Last outage: 
                            span.last-outage

                    .main-chart
                        .top-data
                            p.latency-wrapper 
                                span.latency-title Latency
                                br
                                span.latency
                                    span.latency-value
                                    | ms
                            p.last-check-date
            table#checks
                thead
                    tr
                        th Status
                        th Name
                        th Domain name or IP
                        th Port
                        th Latency
                        th
                        th
                tbody
                    each check in data.userData.checks

                        tr(id=check.id)

                            if check.history.length > 0

                                -var lastHistory = check.history[check.history.length - 1]

                                if lastHistory.time !== null
                                    td.status(data-health="ok")
                                else
                                    td.status(data-health="nok")

                                td.name= check.name
                                td= check.domainNameOrIP
                                td= check.port

                                if lastHistory.time > 200
                                    td.response-time(data-speed="slow")= lastHistory.time + 'ms'
                                else if lastHistory.time !== null
                                    td.response-time(data-speed="fast")= lastHistory.time + 'ms'
                                else
                                    td.response-time(data-speed="down") -

                                td.settings
                                    button.settings-check
                                td.destroy
                                    button.destroy-check

                            else

                                td.status(data-health="ok")

                                td.name= check.name
                                td= check.domainNameOrIP
                                td= check.port

                                td.response-time(data-speed="down") -

                                td.settings
                                    button.settings-check
                                td.destroy
                                    button.destroy-check

    .fullscreen-wrapper#check-add-form
        .form-wrapper
            button.close-fullscreen
            h2.form-title Add a check
            form#check-add(method="get")
                fieldset
                    label(for="name") Check name
                    input#name(type="text", name="name", placeholder="e.g. HTTP @ Google")
                    label(for="domainNameOrIP") Domain name or IP
                    input#domainNameOrIP(type="text", name="domainNameOrIP", placeholder="e.g. 5.196.72.154")
                    label(for="port") Port
                    input#port(type="text", name="port", placeholder="e.g. 80")
                    input(type="submit", value="Add")
    .fullscreen-wrapper#check-update-form
        .form-wrapper
            button.close-fullscreen
            h2.form-title Update a check
            form#check-update(method="get")
                fieldset.check-data
                    input#checkId(type="hidden", name="checkId", value="")
                    label(for="name") Check name
                    input#name(type="text", name="name", placeholder="e.g. HTTP @ Google")
                    label(for="domainNameOrIP") Domain name or IP
                    input#domainNameOrIP(type="text", disabled, name="domainNameOrIP", placeholder="e.g. 5.196.72.154")
                    label(for="port") Port
                    input#port(type="text", disabled, name="port", placeholder="e.g. 80")
                fieldset.notifications
                    input#emailNotifications(type="checkbox", name="emailNotifications", value="true")
                    label(for="emailNotifications") Send email alerts?
                input(type="submit", value="Update")
    .svgs
        svg(xmlns="http://www.w3.org/2000/svg")
            defs
                linearGradient#GreenGradient
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
                linearGradient#LightGreenGradient(x1="0%", y1="0%", x2="0%", y2="100%")
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
    script.
        var globalStats = !{JSON.stringify(data.globalStats)};
