doctype html
html(lang="en")
  head
    title= title

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description", content="Monitaure is a free web application allowing you to monitor your online services")

    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400|Montserrat:400,700" rel="stylesheet")

    link(rel="apple-touch-icon", sizes="57x57", href="/images/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/images/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/images/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/images/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/images/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/images/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/images/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/images/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/images/safari-pinned-tab.svg", color="#52d96e")
    link(rel="shortcut icon", href="/images/favicon.ico")
    meta(name="apple-mobile-web-app-title", content="Monitaure")
    meta(name="application-name", content="Monitaure")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/images/mstile-144x144.png")
    meta(name="msapplication-config", content="/browserconfig.xml")
    meta(name="theme-color", content="#52d96e")

    // OpenGraph
    meta(property="og:type", content="website")
    meta(property="og:title", content="#{title}")
    meta(property="og:description", content="A free web application to monitor your online services")
    meta(property="og:image", content="https://monitaure.io/images/dashboard-sample.png")
    meta(property="og:url", content="https://monitaure.io/")

    // Twitter
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:creator", content="@Bertrand31")
    meta(name="twitter:image:alt", content="Monitaure, a simple monitoring dashboard")

    script(src="/app.js")

    script(type="text/javascript").
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
        heap.load("316152980");

  body
    block body
