extends ../layout

block body

    #main-container
        aside.aside
            h1#main-title Monitaure
            nav.main-nav
                ul
                    li
                        a(href="#_") Activity
                    li
                        a(href="#_") Reports
                            span.info 14
                    li
                        a(href="#_") Messages
                            span.info 123
            nav.misc-nav
                ul
                    li
                        a(href="#_") Settings
                    li
                        a(href="#_") Help
            nav.auth-nav
                ul
                    li
                        a(href="#_") Log out
            .profile
                img(src="/images/profile.jpg" alt="Profile picture")
                span Bertrand Junqua
        main.main
            .content-wrapper
                section.top-buttons
                    button.button#open-form Add a check
                section#chart-container
                    .data
                        p.name
                        p Avg latency: 
                            span.avg
                        p Min latency: 
                            span.min
                        p Max latency: 
                            span.max
                        p Availability: 
                            span.availability
                        p Last error: 
                            span.last-error

                    .main-chart
            table#checks
                thead
                    tr
                        th Status
                        th Name
                        th Domain name or IP
                        th Port
                        th Response time
                        th
                        th
                tbody
                    each check in checks
                        tr(id=check.id)

                            -var lastHistory = check.history[check.history.length - 1]

                            if lastHistory.time !== null
                                td.status(data-health="ok")
                            else
                                td.status(data-health="nok")

                            td.name= check.name
                            td= check.domainNameOrIP
                            td= check.port

                            if lastHistory.time > 200
                                td.response-time(data-speed="slow")= lastHistory.time + 'ms'
                            else if lastHistory.time !== null
                                td.response-time(data-speed="fast")= lastHistory.time + 'ms'
                            else
                                td.response-time(data-speed="down") -

                            td.settings
                                button.settings-check
                            td.destroy
                                button.destroy-check

    .fullscreen-wrapper#check-add-form
        button.close-fullscreen
        form#check-add(method="get")
            fieldset
                input#name(type="text", name="name", placeholder="Name")
                input#domainNameOrIP(type="text", name="domainNameOrIP", placeholder="Domain name or IP")
                input#port(type="text", name="port", placeholder="Port")
                input(type="submit")

    .svgs
        svg(width="100", height="50", version="1.1", xmlns="http://www.w3.org/2000/svg")
            defs
                linearGradient#GreenGradient
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
                linearGradient#LightGreenGradient(x1="0%", y1="0%", x2="0%", y2="100%")
                    stop(offset="0%", stop-color="#5eed80")
                    stop(offset="100%", stop-color="#357e2e")
                    // stop(offset="0%", stop-color="#70e164")
                    // stop(offset="100%", stop-color="#51d96d")
