<header class="header">
    <h1 id="main-title" class="container"><%= __('Monitaure') %></h1>
</header>
<main class="main container clearfix">
    <form id="check-add" method="get">
        <fieldset>
            <legend>Add a check:</legend>
            <label for="name">
            <input placeholder="Name of the check" type="text" id="name" name="name" />
            <label for="domainNameOrIP">
            <input placeholder="Domain name or IP to check" type="text" id="domaineNameOrIP" name="domainNameOrIP" />
            <label for="port">
            <input placeholder="Port to check" type="text" id="port" name="port" />
            <input type="submit" value="Add" id="check-add-button" />
        </fieldset>
    </form>
    <div id="graph">
        <canvas id="mainChart" width="100%" height="400"></canvas>
    </div>
    <table id="checks">
        <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Domain name or IP</th>
                <th>Port</th>
                <th>Response time</th>
                <th>Delete</th>
            <tr>
        </thead>
        <tbody>
            <% checks.forEach(function(check) { %>
                <tr id="<%= check.id %>">
                    <td class="status"></td>
                    <td><%= check.name %></td>
                    <td><%= check.domainNameOrIP %></td>
                    <td><%= check.port %></td>
                    <td class="response-time"></td>
                    <td><button class="destroy-check">Delete</button></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</main>
